<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de gastos</title>
  <link rel="stylesheet" type="text/css" href="static/normalize.css">
  <link rel="stylesheet" type="text/css" href="static/estilo.css">
</head>
<body>
  <div class="arriba">
    <h1>Registro de gastos</h1>
  </div>
  <div class="container cuerpo">
    <p>
      Bienvenido a su sistema de gestión de gastos, aquí podra registrar los pagos que realice para consultarlos mas tarde y asi llevar su cuenta de manera correcta.
    </p>
    
    <h2>¿Como usarlo?</h2>
    <p>El uso es sencillo, solo seleccione uno de los botones a continuación dependiendo de la acción a realizar. Se recomienda que registre sus gastos en dólares.</p>
    <h2>Registrar gasto</h2>
    <p>En esta sección usted podra registrar los gastos que haga, podra ingresar la información referente al mismo ademas.
      La fecha debera ingresarse en formato dd/mm/aa.
    </p>
    <h2>Consultar gastos</h2>
    <p>En este apartado tendra usted una lista con todos los gastos hechos con la información referente al mismo asi como la fecha en que se realizo. 
      Ademas de que en caso de que así lo requiera puede borrar una entrada o actualizarla para facilitar la gestión. </p>
    <a href="/contactos">Registrar gasto</a>
    <a href="/usuario">Consultar gastos</a>
  </div>
</body>
</html>